.footer {
  background-color: #252525;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: space-between;
}

.footer hr {
  margin: 20px 0;
}

.footer-section {
  flex: 1 1 200px;
  margin: 20px;
}

.footer-section:nth-child(1) {
  flex: 1 1 386px;
}

.footer-section:nth-child(5) {
  flex: 1 1 300px;
}

.footer-section:nth-child(3) {
  flex: 1 1 100px;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section ul {
  margin: 20px 0;
  line-height: 30px;
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section input[type="email"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  margin-top: 0;
  background-color: transparent;
  color: white;
  border-radius: 5px;
}

.footer-section label {
  display: flex;
  font-size: 14px;
  line-height: 27px;
  align-items: flex-start;
}

.footer-section label input[type="checkbox"] {
  margin-right: 10px;
}

.footer-section p {
  margin: 0;
  margin: 15px 0;
  font-size: 14px;
  text-align: start;
  margin-bottom: 10px;
  line-height: 27px;
}

.footer-section p:nth-child(2) {
  margin: 0;
}

.footer-section p a {
  color: #fff;
  text-decoration: none;
}

.footer-section p a:hover {
  text-decoration: underline;
}

.footer-bottom {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 575.98px) {
  .footer {
    background-color: #252525;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    justify-content: space-between;
  }

  /* .footer hr {
    display: none;
  } */

  .footer-section {
    flex: 1 1 151px;
    margin: 20px;
  }
}
